
//
// COLORS
//

@base: #0B3954;
@accent: #C81D25;
@dark: #A39BA8;
@medium: #B8C5D6;
@light: #F4F8FC;


//
//  MAIN STYLES
//


html > body {
    font-family: Delicious;
    background-color: darken(white, 1%);
}

.flash {
    width: 100%;
    background-color: rgba(161, 221, 255, 0.36);
    border-bottom: 1px solid rgba(86, 120, 139, 0.28);

    span { margin: 5px 10px; }
}

html, body, .main-container, .main-container > .row {
    // height: 100%;
}

a > .fa:hover {
    text-decoration: none;
}


.dl-sm {
    dt {
        width: 80px;
    }

    dd {
        margin-left: 100px;
    }
}

.member-only { display: none; }
.member .member-only { display: inherit; }
.member .non-member-only { display: none; }

.rk-promote {
    border-color: #fb4e0b;
}

//
// HEADER
//


.rktik-welcome {
    margin: 0 0 2em !important;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.rk-notifications {
    .rk-unread {
        background-color: @light;
    }
}

.rk-blog-header {
    color: darken(white, 1%);
}

//
// CREATE THOUGHT UI
//

.rk-create {
    .rk-create-extend {
        display: none;
    }

    .rk-create-counter {
        padding-right: 6px;
    }
}

.rk-longform-longform {
    height: 200px !important;
}

.over {
    color: red;
    font-weight: bold;
}

//
// CHAT
//

.panel-default .panel-heading, .panel-default .panel-footer {
    background-color: @light;
}

.rk-chat {
    .dl-horizontal {
        margin: 0;
    }

    #rk-chat-nicknames > strong::after {
        content: ", ";
    }

    #rk-chat-nicknames > strong:last-of-type::after {
        content: none !important;
    }

    #rk-chat-lines {
        overflow: scroll;
        height: 25em;
        border-top: 1px solid darken(white, 7%);
        border-bottom: 1px solid darken(white, 7%);

        .upvote {
            float: left;
            width: 32px;
        }

        .author_name {
            font-weight: bold;
            color: grey;
            margin-right: 5px;
        }

        .rk-chatline > p {
            overflow-wrap: break-word;
        }

        .rk-chat-percept {
            background-color: #fafafa;
        }

        .rk-system {
            padding: 0 15px;
            background-color: lighten(yellow, 45%);
        }
    }

    .rk-create {
        margin: .5em 0 .5em;
        width: 100%;

        .rk-create-text {
            width: 80%;
        }

        button {
            width: 18%;
        }
    }
}

//
// REPOST MODAL
//

#rk-repost-text {
    height: 15em;
}

.rk-repost-mindsets {
    height: 18em;
    overflow: scroll;

    .btn {
        margin-bottom: 3px;
    }
}

//
// MOVEMENTS
//

.rk-movement-info {
    btn-default { margin-bottom: 1em; }
}

.rk-frontpage .rk-new-blog {
    background-color: @medium;
}

.rk-movement-box {
    a:hover {
        text-decoration: none;
    }

    .panel-heading {
        border-bottom: 1px dotted white;

        h4 {
            color: darken(white, 1%);
            font-size: 22px;
        }
    }

    .panel-body {
        background-color: white;
    }
}

//
// TABLE OF CONTENTS
//

.rk-toc {
    padding-bottom: 1em;
}

.rk-toc-movements > ul > li {
    overflow: scroll;
    margin-bottom: 0.5em;
}

//
// THOUGHTS
//

.rk-thought-listing {
    .rk-line-container {
        padding: 5px 0 0 5px;
    }
}

.rk-thought-lead {
    margin-bottom: 2.5em;

    h2 {
        font-weight: bold;
        overflow: scroll;
    }
}

.rk-thought-line {
    margin-bottom: 1em;

    .rk-line-container {
        float: left
    }

    .rk-thought-meta {
        color: lighten(gray, 10%);

        .btn {
            float: left;
            margin-right: 3px;
        }
    }

    .rk-create {
        margin-top: 1em;
    }
}

.rk-thought-box {
    .caption {
        font-size: 12px;
    }

    .panel > div {
        padding: 2px;
    }

    .panel > a:hover {
        text-decoration:none;
    }

    .rk-thought-box-content {
        overflow: scroll;
    }

    .rk-thought-box-percepts {
        line-height: 1.8em;
    }
}

.rk-comments {
    margin: 2em 0;

    .rk-thought-line {
        max-width: 30em;
    }

    .rk-create {
        display: none;
    }
}

.rk-replies {
    margin-left: 2.5em;
    padding-left: 5px;
    border-left: 1px dashed @medium;
}

.rk-replies&.rk-comments {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

//
// PERCEPTS
//

.rk-percept {
    margin: .5em 0;

    .row {
        margin-top: .5em;
        clear: both;
    }
}

.rk-link {
    height: 28px;
    padding: 2px;
}

.rk-favicon {
    width: 24px;
    height: 24px;
}

.rk-favicon-small {
    width: 16px;
    height: 16px;
}

.rk-text {
    overflow-wrap: break-word;
}

//
// PERSONA PAGE
//

.rk-persona-infobox {
    margin-bottom: 1em;
    border-top: 3px solid @base;
    background-color: #fafafa;

    .rk-persona-picture {
        min-height: 150px;
        background-color: @medium;
    }

    .rk-persona-meta > dl {
        margin-top: 1.4em;
    }
}

.rk-persona-movements {
    .rk-persona-movements-box {
        margin-bottom: 2em;
        border-top: 2px solid @medium;
        padding-top: 1em;
    }
}
