
//
//  MAIN STYLES
//


html > body {
    font-family: Delicious;
    background-color: darken(white, 1%);
}

.flash {
    width: 100%;
    background-color: rgba(161, 221, 255, 0.36);
    border-bottom: 1px solid rgba(86, 120, 139, 0.28);

    span { margin: 5px 10px; }
}

html, body, .main-container, .main-container > .row {
    // height: 100%;
}

//
// HEADER
//

.header {
    margin-top: 128px;
    // float: none;
    // display: table-cell;

    ul {
        list-style: none;
        padding: 0;
        line-height: 12px;
        margin-bottom: .5em;
        height: 100%;

        .active a { color: white; }

        li p { margin: 0 5px; }

        a:hover li { background-color: darken(white, 1%); }
    }

    .caption {
        // color: darken(white, 1%);
        color: lighten(black, 60%);
        transition: 1s;
    }

    :hover .caption {
        color: lighten(black, 40%)
    }

    a {
        color: lighten(black, 40%);
        text-decoration: none;
    }
    a:hover {
        color: black;
        text-decoration: none;
    }
}

.rktik-welcome {
    margin: 0 0 2em !important;
}

//
// CHAT
//

.rk-chat {
    #rk-chat-meta {
        &.rk-chat-connected > #rk-chat-connecting {
            display: none;
        }
    }


    #rk-chat-lines {
        overflow: scroll;
        height: 25em;
        border-top: 1px solid darken(white, 7%);
        border-bottom: 1px solid darken(white, 7%);

        // .line {
        //     margin-top:5px;

        //     p {
        //         line-height: 1.1;
        //         margin-top: 3px;
        //     }
        // }

        .upvote {
            float: left;
            width: 32px;
        }

        .author_name {
            font-weight: bold;
            color: grey;
            margin-right: 5px;
        }
    }

    #send-message {
        margin: .5em 0 .5em;
        width: 100%;

        #message {
            width: 80%;
        }

        button {
            width: 18%;
        }
    }
}

//
// TABLE OF CONTENTS
//

.rk-toc {
    padding-bottom: 1em;
}

.rk-toc-groups > ul > li {
    overflow: scroll;
    margin-bottom: 0.5em;
}

//
// STARS
//

.rk-star-lead {
    margin-bottom: 2.5em;

    h2 {
        font-weight: bold;
        overflow: scroll;
    }
}

.rk-star-line {
    margin-bottom: 1em;

    .oneup {
        float: left;
        margin-right: .5em;
    }

    .rk-line-container {
        // margin-left: 36px;
    }
}

.rk-star-box {
    .caption {
        font-size: 12px;
    }

    .panel > div {
        padding: 2px;
    }

    .rk-star-box-content {
        overflow: scroll;
    }
}

//
// PLANETS
//

.rk-planet {
    margin: .5em 0;
}

.rk-link {
    border: 1px dotted #eee;
    height: 28px;
    padding: 2px;
}

.rk-favicon {
    width: 24px;
    height: 24px;
}
