@import "./variables.less";

//
// COLORS
//

@base: #0B3954;
@accent: #C81D25;
@dark: #A39BA8;
@medium: #B8C5D6;
@light: #F4F8FC;

//
// FONT
//

@font-face {
    font-family: Delicious;
    src: url("/static/fonts/Delicious-Roman.otf") format("opentype");
}

//
//  MAIN STYLES
//


html > body {
    font-family: Delicious;
    background-color: darken(white, 1%);
}

.footer {
    background-color: lighten(black, 5%);
    color: lighten(black, 40%);
    padding: 2em 0 3em;

    a,p {
        color: lighten(black, 50%);
        font-size: 12px;
    }
}

.flash {
    width: 100%;
    background-color: rgba(161, 221, 255, 0.36);
    border-bottom: 1px solid rgba(86, 120, 139, 0.28);

    span { margin: 5px 10px; }
}

a > .fa:hover {
    text-decoration: none;
}


.dl-sm {
    dt {
        width: 80px;
    }

    dd {
        margin-left: 100px;
    }
}

.member-only { display: none; }
.member .member-only { display: inherit; }
.member .non-member-only { display: none; }

.rk-promote {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    height: 15px;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    width: 40px;

    span {
        background-color: @medium;
        float: left;
        height: 100%;
        width: 50%;
    }

    &.done span {
        display: none;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    /* styles for HiDPI displays */
    .panel-default .panel-heading, .panel-default .panel-footer {
        background-image: url('/static/images/shattered_@2X.png')
    }
}


.panel-default .panel-heading, .panel-default .panel-footer {
    background-image: url('/static/images/shattered.png')
}

//
// HEADER
//


.rk-welcome {
    margin-bottom: 4em;
    h1 {
        color: white;
    }

    small {
        color: darken(white, 10%);
    }

    #rk-welcome-login {
        display: none;
        height: 34px;
    }
}

.navbar-default {
    background-color: #e7e7e7;

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        background-color: darken(#e7e7e7, 7%);

        .badge {
            background-color: @accent;
        }
    }
}

.navbar1 {
    .navbar-brand {
        background-color: @base;
        color: white;
    }

    .navbar-brand:hover, .navbar-brand:focus {
        background-color: @accent;
        color: white;
    }
}

.navbar2 {
    margin-top: -20px;
    background-color: darken(#f8f8f8, 1%);
    border-bottom: none;
    z-index: 50;
    min-height: 26px;

    .navbar-brand {
        background-color: #f5f5f5;
        color: #777;
    }

    .navbar-nav > li > a, .navbar-brand {
        padding: 3px 10px;
        height: 26px;
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a {
        color: @dark;
        background-color: #fcfcfc;
    }
}

.rk-notifications {
    z-index: 100;
    .rk-unread {
        background-color: @light;
    }
}

.rk-email-prefs {
    margin-top: 2em;
}

.rk-blog-header {
    color: darken(white, 1%);

    a {color: white; }
}

//
// CREATE THOUGHT UI
//

.rk-create {
    .rk-create-extend {
        display: none;
        color: #333333;
    }

    .rk-create-counter {
        padding-right: 6px;
    }
}

.rk-longform-longform {
    height: 200px !important;
}

.over {
    color: red;
    font-weight: bold;
}

//
// CHAT
//

.panel-default .panel-heading, .panel-default .panel-footer {
    background-color: @light;
}

.rk-chat {
    .dl-horizontal {
        margin: 0;
    }

    #rk-chat-nicknames > strong::after {
        content: ", ";
    }

    #rk-chat-nicknames > strong:last-of-type::after {
        content: none !important;
    }

    #rk-chat-lines {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 25em;
        border-top: 1px solid darken(white, 7%);
        border-bottom: 1px solid darken(white, 7%);

        .upvote {
            float: left;
            width: 32px;
            margin-right: 5px;
        }

        .author_name {
            font-weight: bold;
            color: grey;
            margin-right: 5px;
        }

        .rk-chatline > p {
            overflow-wrap: break-word;
        }

        .rk-chat-percept {
            background-color: #fafafa;
        }

        .rk-system {
            padding: 0 15px;
            background-color: lighten(yellow, 45%);
        }

        .rk-chatline-meta {
            padding: 0 15px;
            background-color: @light;
            color: @dark;
            a {
                color: darken(@dark, 10%);
            }

        }
    }

    .rk-chat-privacy {
        // Pull down into space left of counter
        margin-bottom: -20px;
        // Padding to prevent overlap with counter
        padding-right: 25px;
    }

    .rk-create {
        margin: .5em 0 .5em;
        width: 100%;
        position: relative;

        .rk-create-text {
            width: 80%;
        }

        .rk-create-counter {
            position: absolute;
            right: 0;
            top: -5px;
        }

        button {
            width: 18%;
        }
    }
}

//
// REPOST MODAL
//

#rk-repost-text {
    height: 15em;
}

.rk-repost-mindsets {
    height: 18em;
    overflow: scroll;

    .btn {
        margin-bottom: 3px;
    }
}

//
// MOVEMENTS
//

.rk-movement-info {
    background-color: #f5f5f5;
}

.rk-movement-box {
    a:hover {
        text-decoration: none;
    }

    .panel-heading {
        border-bottom: 1px dotted white;

        h4 {
            color: darken(white, 1%);
            font-size: 22px;
        }
    }

    .panel-body {
        background-color: white;
    }
}

.rk-movement-nav {
    background-color: #999;

    .navbar-toggle, .navbar-brand, .navbar-nav > li > a {
        color: white;
    }
    .navbar-toggle .icon-bar {
        background-color: white;
    }

    .rk-attention {
        color: darken(white, 10%);

    }
    }

.rk-movement-invite #invites {
    height: 200px;
}


//
// FRONTPAGE-SPECIFIC
//

.rk-frontpage .rk-thought-lead, .rk-frontpage .rk-thought-line {
    margin-bottom: 4em;
}

.rk-graph {
    .node {
        stroke: #fff;
        stroke-width: 1px;
    }

    .link {
        stroke-width: 2px;
        stroke-dasharray: 2,2;
        stroke: #fff;
        animation: stream 5s infinite;
    }

    .link2 {
        stroke: #999;
        stroke-width: .5px;
        stroke-dasharray: 2,2;
    }

    @keyframes pulse {
        50% {
            stroke-width: 4px;
        }
    }

    @keyframes stream {
        0% {stroke-dashoffset: 0px;}
        50% {stroke-dashoffset: 4px;}
        100% {stroke-dashoffset: 8px;}
    }
}

#rk-graph-label {
    width: 100%;
    color: rgba(11, 57, 84, 0.75);
}

.rk-toc {
    padding-bottom: 1em;
    border: none;
    background-color: inherit;

    h3 {
        color: fadeout(rgb(51, 51, 51), 25%);
    }

    hr {margin-bottom: -5px}

    a {
        color: fadeout(#0b3954, 25%);
    }

    a.btn {
        color: white;
    }

    .list-group > a > .list-group-item {
        background-color: inherit;
        border: none;
        border-left: 1px solid #fcfcfc;
        margin-left: -1px;
    }

    .list-group > a > .list-group-item:hover, .list-group > a > .list-group-item:focus {
        border-left: 1px solid #ddd;
    }
}

.rk-toc-list {
    margin-bottom: 0.5em;

    small {
        display: block;
        opacity: 0.65;
    }

    .rk-toc-movements > small { margin-left: 16px; }

    small:hover { text-decoration: none; }
}

//
// THOUGHTS
//

.rk-thought-listing {
    .rk-line-container {
        padding: 5px 0 0 5px;
    }
}

.rk-thought-meta {
    .rk-promote {
        margin-right: 7px;
    }

    .btn-link {
        padding-left: 0;
        padding-right: 0;
        opacity: .65;
    }
}

.rk-thought-lead {
    margin-bottom: 2.5em;

    h2 {
        font-weight: bold;
        overflow: scroll;
    }

    .rk-assocs {
        margin-left: .5em;
    }

    .rk-promote {
        margin-right: 3px;
    }
}

.rk-colorpanel {
    .panel-heading a {
        color: white;
    }

    .panel-body {
        background-color: white;
    }

    .btn {
        margin-bottom: 5px;
    }
}

.rk-thought-line {
    margin-bottom: 1em;

    .upvote {
        float: left;
        margin-right: 5px;
    }

    .rk-line-container {
        padding-left: 35px;
        h3 {
            font-size: 18px;
            margin: 0;
        }
    }

    .rk-create {
        margin-top: 1em;
    }
}

.rk-thought-box {
    .caption {
        font-size: 12px;
    }

    .panel > div {
        padding: 2px;
    }

    .panel > a:hover {
        text-decoration:none;
    }

    .rk-thought-box-content {
        overflow: scroll;
    }

    .rk-thought-box-percepts {
        line-height: 1.8em;
    }
}

.rk-thought-reply {
    .rk-create-text {
        height: 100px;
    }
}

.rk-comments {
    margin: 2em 0;

    .rk-thought-line > .rk-line-container {
        max-width: 30em;
    }

    .rk-create {
        display: none;
    }

    .rk-create-text {
        width: 370px;
        height: 100px;
    }
}

.rk-replies {
    margin-left: 2.5em;
    padding-left: 5px;
    border-left: 1px dashed @medium;
}

.rk-replies&.rk-comments {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.rk-textpercept-panel .panel-body {
    border-bottom: 1px solid #eee;
}

.rk-textpercept-panel .panel-body:last-child {
    border-bottom: none;
}

.rk-reading-time {
    padding-left: 5px;
}

.rk-edit {
    .rk-edit-attachments {
        background-color: #fafafa;
        border: 1px solid #eee;
        padding: 5px;
    }

    .rk-new-attachment {
        display: none;
    }
}

//
// PERCEPTS
//

.rk-percept {
    margin: .5em 0;

    .row {
        margin: .5em -5px 20px -5px;
        clear: both;
    }

    .panel-default {
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-left: 3px solid #ddd;
    }
}

.rk-limit-width {
    max-width: 600px;
}

.rk-link {
    height: 28px;
    padding: 2px;
}

.rk-favicon {
    width: 24px;
    height: 24px;
}

.rk-favicon-small {
    width: 16px;
    height: 16px;
}

.rk-text {
    overflow-wrap: break-word;

    &.truncate {
        max-height: 200px;
        overflow-y: hidden;
        margin-bottom: 10px;

        .truncate-toggle {
            position: absolute;
            bottom: 5px;
            width: 100%;
            margin-left: -10px;
            cursor: pointer;
            opacity: 0.5;
        }

        .truncate-toggle:hover {
            opacity: 1.0;
        }

        .fa-arrow-circle-up { display: none; }
        .fa-arrow-circle-down { display: inline-block; }

        &.truncate-disable {
            max-height: 100%;

            .fa-arrow-circle-up {
                display: inline-block;
            }

            .fa-arrow-circle-down {
                display: none;
            }
        }
    }
}

//
// PERSONA PAGE
//

.rk-persona-infobox {
    margin-bottom: 1em;
    border-top: 3px solid @base;
    background-color: #fafafa;

    .rk-persona-picture {
        min-height: 150px;
        background-color: @medium;
    }

    .rk-persona-meta > dl {
        margin-top: 1.4em;
    }
}

.rk-persona-movements {
    .rk-persona-movements-box {
        margin-bottom: 2em;
        border-top: 2px solid @medium;
        padding-top: 1em;
    }
}

//
// SIGNUP PAGE
//

@media (min-width: @screen-md-min) {
    .rk-signup-intro {
        .rk-welcome {
            float: right;
            width: 80%;
            margin-right: -100%;
        }

        h1 {
            font-size: 30px;
            margin: 10px 0 5px;
        }
    }
}
