{% macro persona(p, flair=None, nolink=False) %}
{% if nolink == False %}<a href="{{ url_for('web.persona', id=p.id) }}">{% endif %}
  <i class="fa fa-circle" style="color: #{{p.color|default('B8C5D6', True)}}"></i> {{ p.username }}
  {% if flair %}<span class="rk-flair">{{ flair }}</span>{% endif %}
{% if nolink == False %}</a>{% endif %}
{% endmacro %}

{% macro movement(m, flair=None, nolink=False) %}
{% if nolink == False %}<a href="{{ url_for('web.movement', id=m.id) }}">{% endif %}
  <i class="fa fa-circle-o" style="color: #{{m.color|default('B8C5D6', True)}}"></i> {{ m.username }}
  {% if flair %}<span class="rk-flair">{{ flair }}</span>{% endif %}
{% if nolink == False %}</a>{% endif %}
{% endmacro %}

{% macro identity(i, flair=None, nolink=False) %}
{% if i.kind == "persona" %}
{{ persona(i, flair, nolink) }}
{% else %}
{{ movement(i, flair, nolink) }}
{% endif %}
{% endmacro %}
