{% macro persona(p, flair=None) %}
<a href="{{ url_for('web.persona', id=p.id) }}">
  <i class="fa fa-circle" style="color: #{{p.color|default('B8C5D6', True)}}"></i> {{ p.username }}
  {% if flair %}<span class="rk-flair">{{ flair }}</span>{% endif %}
</a>
{% endmacro %}

{% macro movement(m, flair=None) %}
<a href="{{ url_for('web.movement', id=m.id) }}">
  <i class="fa fa-circle-o" style="color: #{{m.color|default('B8C5D6', True)}}"></i> {{ m.username }}
  {% if flair %}<span class="rk-flair">{{ flair }}</span>{% endif %}
</a>
{% endmacro %}
