{% macro percept(percept, icon=True, truncate=True, size="small", lightbox=None) %}
{% cache 60*10, percept.id, icon.__repr__(), truncate.__repr__(), size, lightbox|default("None", True) %}
<!-- PERCEPT: {{percept.kind}} {{percept.id}} -->
{% if percept.kind == 'linkedpicture' %}
<span class="rk-image">
  <a href="{{ percept.url }}" data-lightbox="{% if lightbox %}{{ lightbox }}{% else %}{{ percept.title|default(percept.id, True) }}{% endif %}"><img src="{{ percept.url }}" class="img-responsive img-rounded" alt="{{ percept.title }}"/></a>
</span>
{% elif percept.kind == 'link' %}
  {% if percept.iframe_url() %}
  <div class="rk-limit-width">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ percept.iframe_url() }}" allowfullscreen></iframe>
    </div>
  </div>
  {% else %}
  <a class="rk-link" href="{{ percept.url }}">
    <i class="fa fa-link"></i>
    {% if percept.title %}
    {{ percept.title }}
    {% else %}
    {{ percept.url }}
    {% endif %}
  </a>
  {% endif %}
{% elif percept.kind == 'text' %}
<div class="rk-text {% if truncate %}truncate{% endif %}">
  {% if percept.reading_time().seconds > 0 %}
    <p class="pull-right rk-reading-time"><small>
      <i class="fa fa-file-text-o"></i>  Read {{ percept.reading_time()|naturaldelta }}
    </small></p>
  {% endif %}

  {{ percept.text|markdown }}

  {% if percept.source %}
    <i class="fa fa-link"></i> <em>Source:</em> {{ percept.source|urlize }}
  {% endif %}

  {% if truncate %}
  <div class="truncate-toggle text-center">
    <i class="fa fa-arrow-circle-down"></i>
    <i class="fa fa-arrow-circle-up"></i>
  </div>
  {% endif %}
</div>
{% endif %}

{% endcache %}
{% endmacro %}


{% macro percept_icon(percept, lightbox=None) %}
<!-- PERCEPT: {{percept.id}} -->

{% if percept.kind == 'tag' %}
<a href="{{ url_for('web.tag', name=percept.tag.name) }}" class="btn btn-xs btn-default">#{{ percept.title }}</a>
{% elif percept.kind == 'linkedpicture' %}
<a href="{{ percept.url }}" class="btn btn-xs btn-default" data-lightbox="{% if lightbox %}{{ lightbox }}{% else %}{{ percept.title|default(percept.id, True) }}{% endif %}"><i class="fa fa-picture-o"></i></a>
{% elif percept.kind == 'link' %}
<a class="btn btn-xs btn-default" href="{{ percept.url }}">
  <i class="fa fa-link"></i>
  {{ percept.domain }}
</a>
{% elif percept.kind == 'text' %}
<button disabled="disabled" href="#" class="btn btn-xs">
  <i class="fa fa-file-text-o"></i> read {{ percept.reading_time()|naturaldelta }}
</button>
{% endif %}

{% endmacro %}


{% macro render_all(thought, icon=True, truncate=True, size="small") %}
{% set attachments = thought.attachments %}
<div class="rk-percept">
  <!-- Linked Pictures -->
  {% if attachments["linkedpicture"]|length != 0 %}
  <div class="row">
    {% for pa in attachments["linkedpicture"] %}
    <div class="col-sm-{{ attachments['linkedpicture']|gallery_col_width }}">
      {{ percept(pa.percept, icon=icon, lightbox=thought.id)}}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if attachments["link"]|length != 0 %}
  <ul class="list-unstyled">
    {% for pa in attachments["link"] %}
    <li>
    {{ percept(pa.percept, icon=icon, truncate=truncate)}}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if attachments["text"]|length != 0 %}
  <!-- Text Percepts -->
  <div class="row panel panel-default rk-textpercept-panel">
    {% for pa in attachments["text"] %}
    <div class="col-sm-12 panel-body">
      {{ percept(pa.percept, icon=icon, truncate=truncate)}}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div> <!-- ./rk-percepts -->
{% endmacro %}
