{% import "macros/planet.html" as planet_macros %}
{% import "macros/identity.html" as id_macros %}

{% macro oneup(thought) %}
<button class="oneup btn btn-xs {% if thought.oneupped() %}btn-inverse{% else %}btn-default{% endif %} oneup-{{thought.id}}" data-id="{{thought.id}}" type="button">
  <span class="oneup-count oneup-count-{{thought.id}}">{{thought.oneup_count()}}</span> <i class="fa fa-white fa-arrow-up"></i>
</button>
{% endmacro %}


{% macro repost_button(thought, btn="btn-primary") %}
  <span data-toggle="modal" data-thought-text="Repost: {{thought.text}}" data-thought-id="{{thought.id}}" data-target="#rk-repost">
    <button class="btn {{btn}}" data-toggle="tooltip" data-placement="bottom" title="Share this Thought with People, Movements or anywhere else!">
      <i class="fa fa-retweet"></i> Repost
    </button>
  </span>
{% endmacro %}

{% macro comments_button(thought) %}
<span>
    <a class="btn btn-xs btn-default" href="{{ url_for('web.thought', id=thought.id, _anchor='comments') }}">
        <span class="oneup-count" id="comment-count-{{thought.id}}">{{thought.comment_count()}}</span> <i class="fa fa-white fa-comment"></i>
    </a>
</span>
{% endmacro %}

{% macro promote_button(thought, movement) %}
{% if movement.current_role() == "admin" %}
<span>
    <button class="btn btn-xs btn-default rk-promote" href="#" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i> Promote' data-thought-id="{{ thought.id }}" data-promote-url="{{ url_for('web.async_promote', movement_id=movement.id) }}">Promote</button>
</span>
{% endif %}
{% endmacro %}

{% macro label_badges(labels) %}
    {% if labels %}
      {% for label in labels %}
          {% if not label.kind %}
              {% set kind = "default" %}
          {% else %}
              {% set kind = label.kind %}
          {% endif %}
          <span class="label label-{{kind}}">{{ label.text }}</span>
      {% endfor %}
    {% endif %}
{% endmacro %}


{% macro thought_lead(thought, controlled_personas, truncate=True, promote_to=None, labels=None) %}

<!-- THOUGHT {{thought.id}} -->
<div class="rk-thought rk-thought-lead rk-thought-{{ thought.id }}">
  <span class="rk-thought-title">
    <h2>
      {{ label_badges(labels) }}
      <a href="{{ url_for('web.thought', id=thought.id) }}">{{ thought.text|mentions(thought, nolink=True) }}</a>
    </h2>
  </span>

  <!-- Attachments -->
  <div class="rk-planet">
    <div class="row">
    {% for planet_assoc in thought.planet_assocs|sort(attribute='sort_rank') %}
      {% if planet_assoc.planet.kind == "linkedpicture" %}
      <div class="col-sm-4">
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
      </div>
      {% elif planet_assoc.planet.kind == 'tag' %}
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
      {% else %}
      <div class="col-sm-12">
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True, truncate=truncate)}}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- Meta -->
  <div class="rk-thought-meta">
    {{ oneup(thought) }}

    {{ comments_button(thought) }}

    {% if promote_to != None %}
      {{ promote_button(thought, movement=promote_to) }}
    {% endif %}

    <span>
        <span class="caption">
            {{thought.created|localtime|naturaltime}}
        </span>
    </span>

    <span class="inline-semantic"> by </span>

    <span class="attribute">
        <span class="caption">
            {{ id_macros.identity(thought.author) }}
        </span>
    </span>
  </div>
</div>
{% endmacro %}



{% macro thought_line(thought, controlled_personas, truncate=True, no_planets=False, promote_to=None, labels=None) %}

<!-- THOUGHT {{thought.id}} -->
<div class="rk-thought rk-thought-line rk-thought-{{ thought.id }} clearfix">
  <!-- Meta -->
  <span class="rk-thought-meta">
    {{ oneup(thought) }}
    {{ comments_button(thought) }}

    {% if promote_to != None %}
      {{ promote_button(thought, movement=promote_to) }}
    {% endif %}
  </span>

  <div class="rk-line-container">
    <div class="rk-thought-title">
      <p>
      {{ label_badges(labels) }}
      <a href="{{ url_for('web.thought', id=thought.id) }}">{{ thought.text|mentions(thought, nolink=True) }}</a>
      {% if no_planets %}
      {% for planet_assoc in thought.planet_assocs %}{{ planet_macros.planet_icon(planet_assoc.planet)}}{% endfor %}
      {% endif %}
      </p>
    </div>

    {% if no_planets == False and thought.planet_assocs.count() > 0 %}
    <!-- Attachments -->
    <div class="rk-planet">
      <div class="row">
      {% for planet_assoc in thought.planet_assocs|sort(attribute='sort_rank') %}
        {% if planet_assoc.planet.kind == "linkedpicture" %}
        <div class="col-sm-4">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        </div>
        {% elif planet_assoc.planet.kind == 'tag' %}
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        {% else %}
        <div class="col-sm-12">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True, truncate=truncate)}}
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}



{% macro thought_box(thought, controlled_personas) %}

<!-- THOUGHT {{thought.id}} -->
<div class="rk-thought rk-thought-box col-md-3 rk-thought-{{ thought.id }}">
  <div class="panel">
    <a href="{{ url_for('web.thought', id=thought.id) }}">
      <div class="rk-thought-box-content">
        <p>{{ thought.text|mentions(thought, nolink=True) }}</p>
        <div class="rk-thought-box-planets">{% for planet_assoc in thought.planet_assocs|sort(attribute='sort_rank') %}
        {{ planet_macros.planet_icon(planet_assoc.planet)}}
        {% endfor %}</div>
      </div>
    </a>
  </div>
  <p>
    {{ oneup(thought) }}

    <span class="caption">
        <a href="{{ url_for('web.thought', id=thought.id) }}" title="{{thought.created}}">
        <i class="fa fa-thought"></i> {{thought.created|localtime|naturaltime}}</a>
    </span>
  </p>
</div>
{% endmacro %}


{% macro short(thought) %}
  <a href="{{ url_for('web.thought', id=thought.id) }}">{{thought.author.username}}: {{thought.text|mentions(thought, nolink=True)}}</a>
{% endmacro %}



{% macro comment(thought, controlled_personas, no_planets=False, truncate=True) %}
<!-- THOUGHT {{thought.id}} -->
<div class="rk-thought rk-thought-line rk-thought-{{ thought.id }} clearfix">
  <!-- Meta -->
  <span class="rk-thought-meta">
    {{ oneup(thought) }}
  </span>

  <div class="rk-line-container">
    <div class="rk-thought-meta">
      <span class="small">
        {{ id_macros.identity(thought.author) }}
        {% if thought.mindset and thought.mindset != thought.parent.mindset %}
        on <a href="{{ thought.mindset.get_absolute_url() }}"><span class="label label-default">{{ thought.mindset.name }}</span></a>
        {% endif %}
        {{ thought.created|localtime|naturaltime }}
        <a href="{{ url_for('web.thought', id=thought.id) }}">link</a>
      </span>
    </div>

    <div class="rk-thought-title">
      <p>{{ thought.text|mentions(thought) }}</p>
      {% if no_planets %}
      {% for planet_assoc in thought.planet_assocs %}{{ planet_macros.planet_icon(planet_assoc.planet)}}{% endfor %}
      {% endif %}
    </div>

    {% if no_planets == False and thought.planet_assocs.count() > 0 %}
    <!-- Attachments -->
    <div class="rk-planet">
      <div class="row">
      {% for planet_assoc in thought.planet_assocs|sort(attribute='sort_rank') %}
        {% if planet_assoc.planet.kind == "linkedpicture" %}
        <div class="col-sm-4">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        </div>
        {% elif planet_assoc.planet.kind == 'tag' %}
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        {% else %}
        <div class="col-sm-12">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True, truncate=truncate)}}
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="rk-thought-meta">
      <small><a href="{{ url_for('web.create_thought', parent=thought.id, mindset=thought.mindset.id) }}" class="rk-create-display-toggle" data-id="{{ thought.id }}">reply</a></small>
      <form class="rk-create" action="{{ url_for('web.create_thought') }}" method="GET">
        <input class="rk-create-parent" name="parent" type="hidden" value="{{ thought.id }}">
        <input type="hidden" name="mindset" value="{{ thought.mindset_id }}" />
        <div>
          <span>&nbsp;</span>
          <div class="pull-right rk-create-counter"></div>
          <div class="rk-create-extend">
            <p>That's a lot of text! Do you want to make a long post? <input type="submit" class="btn btn-sm btn-primary" value="Yes, please"></p>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control rk-create-text" name="text"></textarea>
        </div>
        <button type="submit" class="rk-create-submit btn btn-sm btn-default" class="btn btn-default btn-sm" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>'>Reply</button>
      </form>
    </div>
  </div>

</div>
{% endmacro %}



{% macro comment_tree(thought, controlled_personas, deep=3, truncate=True) %}

{{ comment(thought, controlled_personas, truncate=truncate) }}

{% if deep > 0 %}
  {% set new_deep=(deep-1) %}
  <div class="rk-replies clearfix">
    {% for c in thought.comments %}
      {% if c.context_length > 0 %}
      {{ comment_tree(c, controlled_personas, deep=new_deep) }}
      {% else %}
      <small>[<a href="{{ url_for('web.thought', id=c.id) }}">Reply
      was hidden from this context by the author</a>]</small>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% endmacro %}
