{% import "macros/planet.html" as planet_macros %}
{% import "macros/identity.html" as id_macros %}

{% macro oneup(star) %}
<button class="oneup btn btn-xs {% if star.oneupped() %}btn-inverse{% else %}btn-default{% endif %} oneup-{{star.id}}" data-id="{{star.id}}" type="button">
  <span class="oneup-count oneup-count-{{star.id}}">{{star.oneup_count()}}</span> <i class="fa fa-white fa-arrow-up"></i>
</button>
{% endmacro %}

{% macro star_lead(star, controlled_personas, truncate=True) %}

<!-- STAR {{star.id}} -->
<div class="rk-star rk-star-lead">
  <span class="rk-star-title">
    <a href="{{ url_for('.star', id=star.id) }}"><h2>{{ star.text }}</h2></a>
  </span>

  <!-- Attachments -->
  <div class="rk-planet">
    <div class="row">
    {% for planet_assoc in star.planet_assocs|sort(attribute='sort_rank') %}
      {% if planet_assoc.planet.kind == "linkedpicture" %}
      <div class="col-sm-4">
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
      </div>
      {% elif planet_assoc.planet.kind == 'tag' %}
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
      {% else %}
      <div class="col-sm-12">
        {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True, truncate=truncate)}}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <!-- Meta -->
  <div class="rk-star-meta">
    {{ oneup(star) }}
    <!-- <span>
        <button data-target="#comment-modal-{{star.id}}" role="button" class="btn btn-xs" id="comments-{{star.id}}" type="button" data-toggle="modal">
            <span class="oneup-count" id="comment-count-{{star.id}}">{{star.comment_count()}}</span> <i class="fa fa-white fa-comment"></i>
        </button>
    </span> -->

    <span>
        <span class="caption">
            <a href="{{ url_for('.star', id=star.id) }}" title="{{star.created}}">
            <i class="fa fa-star"></i> {{star.created|localtime|naturaltime}}</a>
        </span>
    </span>

    <span class="inline-semantic"> by </span>

    <span class="attribute">
        <span class="caption">
            {{ id_macros.persona(star.author) }}
        </span>
    </span>
  </div>
</div>
{% endmacro %}



{% macro star_line(star, controlled_personas, truncate=True, no_planets=False) %}

<!-- STAR {{star.id}} -->
<div class="rk-star rk-star-line">
  {{ oneup(star) }}

  <div class="rk-line-container">
    <div class="rk-star-title">
      <a href="{{ url_for('.star', id=star.id) }}">{{ star.text }}</a>
      {% if no_planets %}
      {% for planet_assoc in star.planet_assocs %}{{ planet_macros.planet_icon(planet_assoc.planet)}}{% endfor %}
      {% endif %}
    </div>

    {% if no_planets == False and star.planet_assocs.count() > 0 %}
    <!-- Attachments -->
    <div class="rk-planet">
      <div class="row">
      {% for planet_assoc in star.planet_assocs|sort(attribute='sort_rank') %}
        {% if planet_assoc.planet.kind == "linkedpicture" %}
        <div class="col-sm-4">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        </div>
        {% elif planet_assoc.planet.kind == 'tag' %}
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True)}}
        {% else %}
        <div class="col-sm-12">
          {{ planet_macros.planet(planet_assoc.planet, scale=True, icon=True, truncate=truncate)}}
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}



{% macro star_box(star, controlled_personas) %}

<!-- STAR {{star.id}} -->
<div class="rk-star rk-star-box col-md-3">
  <div class="panel">
    <a href="{{ url_for('.star', id=star.id) }}">
      <div class="rk-star-box-content">
        <p>{{ star.text}}</p>
        <div class="rk-star-box-planets">{% for planet_assoc in star.planet_assocs|sort(attribute='sort_rank') %}
        {{ planet_macros.planet_icon(planet_assoc.planet)}}
        {% endfor %}</div>
      </div>
    </a>
  </div>
  <p>
    {{ oneup(star) }}

    <span class="caption">
        <a href="{{ url_for('.star', id=star.id) }}" title="{{star.created}}">
        <i class="fa fa-star"></i> {{star.created|localtime|naturaltime}}</a>
    </span>
  </p>
</div>
{% endmacro %}
