<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hello {{ notification.recipient.username }},</p>

    <p>&nbsp;</p>

    <p>{{ notification.text }}</p>

    <p><strong><a href="http://{{ config.get('SERVER_HOST') }}{{ notification.url }}">View on RKTIK</a></strong></p>

    <p>&nbsp;</p>
    <p>Thank you for using RKTIK</p>
    <p><a href="{{ url_for('web.index', _external=True) }}">RKTIK Frontpage</a></p>

    <hr />

    <p>You are receiving this email because you signed up for an RKTIK account.</p>
    <p>Visit your <a href="{{ url_for('web.notifications', _external=True) }}">notification preferences</a> to disable email notifications</p>
  </body>
</html>
