<!doctype html>
<head>
    <title>{%block title %}soma{% endblock %}</title>
    <link rel="stylesheet/less" type="text/css" href="/static/frameless.less">
    <link rel="stylesheet/less" type="text/css" href="/static/style.less">
    <script src="/static/less.js" type="text/javascript"></script>
</head>
<body>
    <article class="{% block layout_name %}{% endblock %}">
        {% for message in get_flashed_messages() %}
            <div class='flash'><span>{{message}}</span></div>
        {% endfor %}
        <div id="container">
        {% block content %}{% endblock %}
        </div>
    </article>
</body>
