<!doctype html>
<head>
    <title>{%block title %}khemia{% endblock %}</title>
</head>
<body>
    <h1>khemia</h1>
    {% for message in get_flashed_messages() %}
        <div class='flash'>{{message}}</div>
    {% endfor %}

    <div id='nav'>
        <ul>
            <li><a href="{{ url_for('universe') }}">Starry Sky</a></li>
            {% for persona in controlled_personas %}
            <li>
                <a href="{{ url_for('persona', id=persona.value._id) }}">
                    Persona: {{persona.key}}
                    {% if persona.value._id == session.active_persona %}(active){% endif %}
                </a></li>
            {% endfor %}
            <li><a href="{{ url_for('create_persona') }}">Create Persona</a></li>
            <li><a href="{{url_for('create_star')}}">Create Star</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </div>

    {% block content %}{% endblock %}
</body>
