<!doctype html>
<head>
    <title>{%block title %}khemia{% endblock %}</title>
    <link rel="stylesheet/less" type="text/css" href="/static/frameless.less">
    <link rel="stylesheet/less" type="text/css" href="/static/style.less">
    <script src="/static/less.js" type="text/javascript"></script>
</head>
<body>

    <header>
        <a href="{{ url_for('universe') }}"><h1>Soma</h1></a>
        <ul>
            {% for persona in controlled_personas %}
            <a href="{{ url_for('persona', id=persona.id) }}" {% if persona.id == session.active_persona %}class="active"{% endif %}><li><p>Persona: {{persona.username}}</p></li></a>
            {% endfor %}
        </ul>
        <ul>
            <a href="{{ url_for('create_persona') }}"><li><p>Create Persona</p></p></li></a>
            <a href="{{url_for('create_star')}}"><li><p>Create Star</p></li></a>
            <a href="{{url_for('logout')}}"><li><p>Logout</p></li></a>
        </ul>
    </header>

    <article class="{% block layout_name %}{% endblock %}">
        {% for message in get_flashed_messages() %}
            <div class='flash'><span>{{message}}</span></div>
        {% endfor %}
        <div id="container">
        {% block content %}{% endblock %}
        </div>
    </article>
</body>
