{% extends "base.html" %}

{% import "macros/thought.html" as thought_macros %}

{% block content %}
<section class="row">
  <div class="col-sm-7 center-block" style="float: none;">
    <div class="panel panel-danger">
      <div class="panel-heading">
        {% if thought.state >= 0 %}
        <h1>Remove Thought</h1>
        <p>Removing a post will hide its content from other users.</p>
        {% else %}
        <h1>Publish Thought</h1>
        {% endif %}
      </div>
      <div class="panel-body">
        {{ thought_macros.thought_line(thought, controlled_personas) }}
      </div> <!-- ./ thought listing -->
      <div class="panel-footer">
        <form method="POST"action="{{ url_for('.delete_thought', id=thought.id) }}">
          {{ form.hidden_tag() }}
          <a class="btn btn-sm" href="{{ url_for('.thought', id=thought.id) }}">Cancel</a>
          <input type="submit" class="btn btn-sm" value="{% if thought.state >= 0 %}Remove now{% else %}Publish now{% endif %}">
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
