{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/star.html" as star_macros %}

{% block script %}
window.room_id = "{{ group.profile.id }}";
window.user_id = "{{ current_user.active_persona.id }}";
window.user_name = "{{  current_user.active_persona.username }}";
window.group_id = "{{  group.id }}";
window.admin_id = "{{ group.admin.id }}";
{% endblock %}

{% block content %}
<section class="row">
    <div class=" col-sm-4 col-sm-push-8">
        <div class="rk-chat panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ group.username }}</h3>
            </div>

            <div class="panel-body">
                {% if group in current_user.active_persona.groups_followed %}
                    <button class="btn btn-default" type="submit" id="rk-group-follower" data-href="{{ url_for('.async_toggle_group_following', group_id=group.id) }}">
                        <i class="fa fa-fw fa-eye"></i> Unfollow
                    </button>
                {% else %}
                    <button class="btn btn-primary" type="submit" id="rk-group-follower" data-href="{{ url_for('.async_toggle_group_following', group_id=group.id) }}">
                        <i class="fa fa-fw fa-eye"></i> Follow
                    </button>
                {% endif %}


                {% if group.current_role() not in ["visitor", "anonymous"] %}
                    <button class="btn btn-default" type="submit" id="rk-group-member" data-href="{{ url_for('.async_toggle_group_membership', group_id=group.id) }}">
                        <i class="fa fa-fw fa-users"></i> Leave group
                    </button>
                {% else %}
                    <button class="btn btn-default" type="submit" id="rk-group-member" data-href="{{ url_for('.async_toggle_group_membership', group_id=group.id) }}">
                        <i class="fa fa-fw fa-users"></i> Become member
                    </button>
                {% endif %}
            </div>

            {{ chat_macros.chat(group.profile) }}
        </div> <!-- ./ panel -->
    </div> <!-- ./ chat column -->

    <div class="star-listing col-sm-7 col-sm-pull-3">
    {% for star in stars %}
        {% if loop.first %}
            {{ star_macros.star_lead(star, controlled_personas) }}
        {% else %}
            {{ star_macros.star_line(star, controlled_personas) }}
        {% endif %}
    {% endfor %}
    </div> <!-- ./ star listing -->
</section>

{% endblock %}
