{% extends "base.html" %}

{% block script %}
window.room_id = "{{ group.profile.id }}";
window.user_id = "{{ current_user.active_persona.id }}";
window.user_name = "{{  current_user.active_persona.username }}";
window.group_id = "{{  group.id }}";
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-4">
        <h1><a href="{{ url_for('web.index') }}">Home</a> > Group {{group.username}}</h1>
        <p>Admin: {{group.admin.username}}</p>
    </div>
</section>

<section class="row">
    <div class="rktik-chat panel panel-default col-md-3 col-md-push-8">
        <h3>Talk with {{ group.username }}</h3>


        <div id="messages">
            <div id="nicknames"><span>Online:</span></div>
            <div id="lines">
                {% for star in group.profile.index %}
                <p>
<!--                     <button id="rktik-upvote-{{star.id}}" type="button" class="btn btn-inverse btn-xs">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        <span class="rktik-upvote-count">{{star.upvote_count}}</span>
                    </button> -->


                    <button class="oneup btn btn-mini {% if star.oneupped() %}btn-primary{% else %}btn-inverse{% endif %}" id="oneup-{{star.id}}" type="button">
                        <span class="oneup-count" id="oneup-count-{{star.id}}">{{star.oneup_count()}}</span> <i class="fa fa-white fa-arrow-up"></i>
                    </button>
                    <span>{{ star.author.username }}:</span>{{ star.text }}</p>
                {% endfor %}
                <p id="connecting">Connecting to Glia chat</p>
            </div>
        </div>

        <form id="send-message" class="form-inline">
            <input id="message" autocomplete="off" class="form-control input-sm">
            <button class="btn btn-sm">Send</button>
        </form>
    </div>
</section>

{% endblock %}
