{% extends "base.html" %}

{% block content %}
<div class="col-sm-8 col-sm-push-2">
    <h1>Privacy Policy</h1>

    <h2>Google Analytics</h2>

    <p>Um den Nutzen dieser Webseite für Sie zu optimieren, verwenden wir das Analyse-Tool Google Analytics. Dies ist ein Standardanalysetool der Google Inc. Für die Analyse verwendet Google sog. „Cookies“, über die es Informationen über ihr Nutzerverhalten bezieht und entsprechend auswertet.</p>

    <p>Die Auswertung Ihrer Daten erfolgt anonym. Der Tracking-Code von Google wurde auf unseren Webseiten so ergänzt, dass Ihre IP-Adresse durch Google um die letzten Stellen gekürzt wird, bevor die Analyse erfolgt. Eine Rückverfolgung auf Ihre Person sowie eine Zusammenführung dieser Daten mit den bereits bei Google von Ihnen bekannten Daten ist damit grundsätzlich nicht mehr möglich.</p>

    <p>Die Erfassung, Anonymisierung und Analyse Nutzerdaten erfolgt im schriftlichen Auftrag des Webseitenbetreibers (siehe Impressum) durch Google.</p>

    <p>Sie haben die Möglichkeit, die Nutzung von Cookies über die Einstellung Ihres Browserprogramms zu beschränken beziehungsweise gänzlich zu verhindern. Die Verhinderung von Cookies könnte jedoch dazu führen, dass nicht sämtliche Funktionen dieser Webseite genutzt werden können.</p>

    <p>Sie haben auch die Möglichkeit, lediglich die Erfassung Ihrer Nutzerdaten und Analyse Ihres Nutzerverhaltens durch Google Analytics dadurch zu verhindern, indem sie das speziell von Google entwickelte und unter dem folgenden Link verfügbare Browser-Plugin herunterzuladen und zuinstallieren: http://tools.google.com/dlpage/gaoptout?hl=de.</p>

    <p>Weitere Informationen zu den allgemeinen Nutzungsbedigungen von Google Analytics erhalten Sie unter: http://www.google.com/analytics/terms/de.html.</p>
    <p>Die Datenschutzbestimmungen zu Google Analytics erhalten Sie unter: http://www.google.com/intl/de/analytics/privacyoverview.html.</p>

    <p>In order to opt out of the Google Analytics program you can install a browser add-on which will prevent your browser from sending information about your visiting Rktik to Google.
    <br /> <a href="https://tools.google.com/dlpage/gaoptout?hl=de">Download here</a></p>
</div>
{% endblock %}
