{% extends "base.html" %}

{% import "macros/star.html" as star_macros %}
{% import "macros/identity.html" as id_macros %}

{% block content %}
<div class="row" id="rk-index">
  <div class="rk-toc panel panel-default col-sm-3 col-sm-push-8">
    {% if top_posts|length > 0 %}
      <div class="panel-body">
        <h3>Hot Stars</h3>
      </div>

      <ul class="list-group rk-toc-movements">
        {% for star in top_posts %}
        <li class="list-group-item"><a href="{{ url_for('web.star', id=star.id) }}">{{ star.text }}</li>
        {% endfor %}
      </ul> <!-- ./ movement list -->
    {% endif %}

    <div class="panel-body">
    {% if more_movements[:]|length() > 0 %}
    <h3>Discover Movements</h3>
      <ul>
      {% for movement in more_movements %}
      <li>{{ id_macros.movement(movement) }} {{ movement.description|default("", True) }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    <a role="button" class="btn btn-default" href="{{ url_for('web.movements') }}">Start a Movement Today</a>
    </div>

  </div> <!-- ./rktik-toc -->

  {% if movement_data|length > 0 %}
    <div class="rk-frontpage col-sm-7 col-sm-pull-2">
    {% for m in movement_data %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>{{ id_macros.movement(m.movement) }}</h1>
          <p><em>{{ m.movement.description }}</em></p>
        </div>

        {% if m.top_posts|length > 0 %}
        <div class="panel-body">
          {% for star in top_posts %}
            {% if loop.first %}
              {{ star_macros.star_lead(m.top_posts[0], controlled_personas) }}
            {% else %}
              {{ star_macros.star_line(star, controlled_personas) }}
            {% endif %}
          {% endfor %}
        </div>
        {% else %}
        <div class="panel-body">
          <p>Peek in and post something now, it's empty!</p>
        </div>
        {% endif %}
      </div> <!-- ./ movement panel -->
    {% endfor %}
    </div>
  {% else %}
  <h1>Join some Movements!</h1>
  {% endif %}

</div> <!-- ./ index -->
{% endblock %}
