{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-sm-4 col-sm-push-2">

<h1>Login</h1>
</div>
</div>

<div class="row">
<div class="col-sm-4 col-sm-push-2">

<p class="lead">Go ahead. I am waiting for you.</p>

<form method="POST" action="{{ url_for('.login') }}">
  {{ form.hidden_tag() }}
  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
    {% if form.email.errors %}
      <label for="email">{% for error in form.email.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="email">Email address</label>
    {% endif %}
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
  </div>

  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
    {% if form.password.errors %}
      <label for="password">{% for error in form.password.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="password">Password</label>
    {% endif %}
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Login now</button>
</form>
</div>
<div class="col-sm-4 col-sm-push-2">
<p class="lead"><a href="{{ url_for('web.signup') }}">No account? Click here get one, now!</a></p>

</div>
</div>
{% endblock %}
