{% extends "base.html" %}

{% block content %}
<h1><a href="{{ url_for('web.index') }}">Home</a> > Login to your account</h1>

<form method="POST" action="{{ url_for('.login') }}">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email(size=20) }} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    {{ form.password.label }} {{ form.password(size=20) }}{% if form.password.errors %} {{ form.password.errors }} {% endif %}
    <input type="submit" value="Go">
</form>
<p>No account? <a href="{{ url_for('web.signup') }}">get one</a>!</p>
{% endblock %}
