{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/thought.html" as thought_macros %}
{% import "macros/movement.html" as movement_macros %}

{% block script %}
window.room_id = "{{ movement.mindspace.id }}";
window.map_id = "{{ movement.mindspace.id }}";
window.user_id = "{{ current_user.active_persona.id }}";
window.user_name = "{{  current_user.active_persona.username }}";
window.movement_id = "{{  movement.id }}";
window.admin_id = "{{ movement.admin.id }}";

$(document).ready(function() {
  $('#rk-mission').editable();
});
{% endblock %}

{% block content %}
<section class="row">
  <div class=" col-sm-4 col-sm-push-8">
    <div class="rk-chat panel panel-default {% if movement.current_role() not in ['visitor', 'anonymous'] %}member{% endif %}">
      <div class="panel-heading">
        <h3 class="panel-title">{{ movement.username }} Chat</h3>
      </div>

      <div class="panel-body rk-movement-info">
        <div class="form-group">
        {% if movement.current_role() not in ["visitor", "anonymous"] %}
          <a class="btn btn-primary" href="{{ url_for('web.create_thought', mindset=movement.mindspace.id) }}">Create Thought</a>
        {% endif %}

        {% if movement in current_user.active_persona.movements_followed %}
          <button class="btn btn-default" type="submit" id="rk-movement-follower" data-href="{{ url_for('.async_toggle_movement_following', movement_id=movement.id) }}">
            <i class="fa fa-fw fa-eye"></i> Unfollow
          </button>
        {% else %}
          <button class="btn btn-primary" type="submit" id="rk-movement-follower" data-href="{{ url_for('.async_toggle_movement_following', movement_id=movement.id) }}">
            <i class="fa fa-fw fa-eye"></i> Follow
          </button>
        {% endif %}


        {% if movement.current_role() not in ["visitor", "anonymous"] %}
          <button class="btn btn-default" type="submit" id="rk-movement-member" data-href="{{ url_for('.async_toggle_movement_membership', movement_id=movement.id) }}">
            <i class="fa fa-fw fa-users"></i> Leave Movement
          </button>
        {% else %}
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-fw fa-users"></i> Join Movement <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="rk-movement-member" data-href="{{ url_for('.async_toggle_movement_membership', movement_id=movement.id) }}">Join as <em>{{ current_user.active_persona.username }}</em></a></li>
              <li><a href="{{ url_for('web.create_persona', for_movement=movement.id) }}">Join with a new username</a></li>
            </ul>
          </div>
        {% endif %}
        </div>

        <dl class="dl-horizontal dl-sm">
          <dt>Mission</dt>
          <dd><a href="#" id="rk-mission" data-type="text" data-pk="{{movement.id}}" data-url="{{ url_for('web.async_movement', movement_id=movement.id) }}" data-title="Enter your mission">
            {{ movement.description|default("No mission set", True) }}
          </a></dd>
          <dt class="member-only">Recently seen</dt>
          <dd class="member-only" id="rk-chat-nicknames"></dd>
        </dl>

        <p class="non-member-only">Become a member of <em>{{ movement.username }}</em> to thoughtt chatting and collaborating with other
        members of this movement </p>
      </div>

      {% if movement.current_role() not in ["visitor", "anonymous"] %}
        {{ chat_macros.chat(movement.mindspace) }}
      {% endif %}
    </div> <!-- ./ panel -->
  </div> <!-- ./ chat column -->

  <div class="thought-listing col-sm-8 col-sm-pull-4">
    {{ movement_macros.nav(movement, "Mindspace") }}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>This is the movement's <strong>mindspace</strong>. On the right hand side you can chat with other members, show them stuff and plan your next move. Below you see content from the chat with the most votes.
    </div>

    {% if recent_blog_post %}
      <div class="alert alert-info">
        <h4>{{ thought_macros.thought_line(recent_blog_post, labels=[{"text": "Blog", }], no_planets=True) }}</h4>
      </div>
    {% endif %}

    {% for thought in thoughts %}
      {% if loop.first %}
        {{ thought_macros.thought_lead(thought, controlled_personas, promote_to=thought.promote_target) }}
      {% else %}
        {{ thought_macros.thought_line(thought, controlled_personas, no_planets=True, promote_to=thought.promote_target) }}
      {% endif %}
    {% endfor %}
  </div> <!-- ./ thought listing -->
</section>

{% endblock %}
