{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/thought.html" as thought_macros %}
{% import "macros/movement.html" as movement_macros %}
{% import "macros/helpers.html" as helper_macros %}
{% import "macros/identity.html" as id_macros %}

{% block script %}
window.room_id = "{{ movement.blog_id }}";
window.movement_id = "{{  movement.id }}";
window.admin_id = "{{ movement.admin_id }}";

$(document).ready(function() {
  amplitude.logEvent("view_movement_blog, {id: "{{ movement.id }}", username: "{{ movement.username }}"});
});
{% endblock %}

{% block content %}
<section class="row">
  <div class="thought-listing col-sm-8 col-sm-push-2">
    <div class="jumbotron rk-blog-header" style="background-color: #{{ movement.color }};">
      <h1>{{ movement.username }}</h1>
      <p>{{ movement.description }}</p>
      {{ id_macros.member_toggle(movement, active_persona) }}
      {% if movement in active_persona.blogs_followed %}
        {{ id_macros.follow_toggle(movement, active_persona) }}
      {% endif %}
    </div>

    {{ movement_macros.nav(movement, "Blog") }}

    {% for thought in thoughts.items %}
        {{ thought_macros.thought_lead(thought, controlled_personas) }}
    {% else %}
      <div class="rk-thought rk-thought-lead">
        <h1>No blog posts found</h1>
        <p class="lead">This movement is just getting started. You can become a member now to help them out or follow this movement, then wait and see.</p>
      </div>
    {% endfor %}

    {{ helper_macros.paginate(thoughts) }}

  </div> <!-- ./ thought listing -->

  <div class="col-sm-8 col-sm-push-2">
    <div class="rk-chat panel panel-default {% if movement.current_role() not in ['visitor', 'anonymous'] %}member{% endif %}">

      <div class="panel-body">
        {% if current_user.is_anonymous() %}
          <p class="lead">Get an RKTIK account to follow this movement and many others.
          <a href="{{ url_for('web.signup', next=request.path) }}" class="btn btn-primary btn-lg pull-right">Sign up now</a></p>

        {% else %}
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              {{ id_macros.follow_toggle(movement, active_persona) }}
            </div>
          </div>

          <div class="col-sm-8">
            <h4>Followers receive updates from this movement on their frontpage.</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">

            {{ id_macros.member_toggle(movement, active_persona) }}

            </div>
          </div>

          {% if not movement.private %}
          <div class="col-sm-8">
            <p>Only members get full access to the group mind. Come join us!</p>
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div> <!-- ./ panel -->
  </div> <!-- ./ chat column -->
</section>

{% endblock %}
