{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/thought.html" as thought_macros %}
{% import "macros/identity.html" as id_macros with context %}
{% import "macros/movement.html" as movement_macros %}

{% block script %}
window.room_id = "{{ chat.id }}";
window.map_id = "{{ chat.id }}";
window.admin_id = "{{ current_user.active_persona.id }}";
{% endblock %}

{% block content %}
<section class="row">
  <div class="col-sm-11 col-sm-offset-1">
    <h1>Notebook</h1>
  </div>
  <div class="rk-persona col-sm-5 col-sm-offset-1">
    <div class="rk-chat panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ current_user.active_persona.username }} Mindspace
        <small><em>Only you can see messages in here</em></small></h3>
      </div>

      {{ chat_macros.chat(chat) }}
    </div> <!-- ./ chat -->
  </div> <!-- ./ chat column -->

  <div class="col-sm-4">
    <div class="rk-toc panel panel-default">
    {% if marked_thoughts.count() == 0 %}
      <div class="panel-body">
        <p>Your notebook is a secret place. Keep your thoughts in it to let them grow and mature. You can also repost any other thought in Rktik to your notebook using the repost button.</p>
        <p>Mark important Thoughts in your notebook by voting on them, they will go here, on the right.</p>
      </div>
    {% else %}
      <div class="panel-body rk-marked-thoughts">
        <h3>Marked Thoughts</h3>
        <ul class="list-group rk-toc-list">
        {% for t in marked_thoughts %}
          <a href="/thought/624e226b328441f0aa57c60f1a4d76b3/">
            <li class="list-group-item">
              {{ t.text }}
               <small>{{ t.created|localtime|naturaltime }}</small>
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    </div> <!-- ./ conversations -->

</section>

{% endblock %}
