{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/star.html" as star_macros %}
{% import "macros/identity.html" as id_macros %}

{% block script %}
window.room_id = "{{ chat.id }}";
window.user_id = "{{ current_user.active_persona.id }}";
window.user_name = "{{  current_user.active_persona.username }}";
window.movement_id = "{{  persona.id }}";
window.admin_id = "{{ persona.id }}";
{% endblock %}

{% block content %}
<section class="row">
  <div class="col-sm-4 col-sm-push-8">
    <div class="rk-chat panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Chat with {{ persona.username }}</h3>
      </div>

      {{ chat_macros.chat(chat) }}
    </div> <!-- ./ panel -->
  </div> <!-- ./ chat column -->

  <div class="rk-persona col-sm-8 col-sm-pull-4">
    <div class="row rk-persona-infobox" style="border-color: #{{ persona.color }}">
      <div class="col-sm-3 rk-persona-picture">
        <p>Profile picture</p>
      </div>

      <div class="col-sm-6 rk-persona-identity">
        <h1>{{ id_macros.persona(persona) }}</h1>
        <p><em>Member for {{ persona.created|localtime|naturaldelta }}</em></p>
      </div>

      <div class="col-sm-3 rk-persona-meta">
        <dl class="dl-horizontal dl-sm">
          <dt>Connections</dt>
          <dd>150</dd>
          <dt>Shared</dt>
          <dd>Alex, Julia, Tim, Lea</dd>
        </dl>
      </div>
    </div>

    <div class="rk-persona-movements">
      <div class="row">
        <div class="col-sm-12">
          <h2>Member of {{ persona.movement_assocs|length }} movement</h2>
        </div>
      </div>
      {% for mma in movements %}
      <div class="rk-persona-movements-box row">
        <div class="col-sm-3 rk-persona-movements-info">
          <a href="{{ url_for('.movement', id=mma.movement.id) }}">
            <h3>{{ mma.movement.username }}</h3>
          </a>
          <p><em>{{ mma.movement.description|default("No description", true) }}</em></p>
          <p>Currently a {{ mma.role }}, joined {{ mma.created|localtime|naturaltime }}.</p>
        </div>

        <div class="col-sm-9 rk-persona-movements-posts star-listing">
          {% for star in mma.movement.profile.index.filter_by(author=persona).limit(3) %}
            {{ star_macros.star_line(star, controlled_personas) }}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
