{% extends "base.html" %}

{% block extra_styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/spectrum.css") }}' />
{% endblock %}

{% block extra_scripts %}
<script src='{{ url_for("static", filename="js/spectrum.js") }}'></script>
{% endblock %}

{% block script %}
$("#rk-colorpicker").spectrum({
  showPaletteOnly: true,
  showPalette:true,
  flat: true,
  showInput: true,
  color: '#0B3954',
  palette: [
    {% for color in allowed_colors %}
    '#{{ color }}',
    {% endfor %}
  ]
});

$(".rk-signup-form").submit(function() {
  $("#rk-colorpicker").val($("#rk-colorpicker").spectrum("get").toHex());
});


{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-4 col-sm-push-4">

<h1>Create your own account</h1>

<form method="POST" class="rk-signup-form" action="{{ url_for('.signup') }}">
  {{ form.hidden_tag() }}
  <div class="form-group {% if form.username.errors %}has-error{% endif %}">
    {% if form.username.errors %}
      <label for="username">{% for error in form.username.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="username">Your first name</label>
    {% endif %}
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
  </div>

  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
    {% if form.email.errors %}
      <label for="email">{% for error in form.email.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="email">Email address</label>
    {% endif %}
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
  </div>

  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
    {% if form.password.errors %}
      <label for="password">{% for error in form.password.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="password">Password</label>
    {% endif %}
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>

  <div class="form-group {% if form.color.errors %}has-error{% endif %}">
    {% if form.color.errors %}
      <label for="color">{% for error in form.color.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="color">Choose a color for your first Persona</label>
    {% endif %}
    <p><input type='text' name="color" class="form-control" id="rk-colorpicker" /></p>
  </div>

  <p>We care about your privacy, and we never spam. By creating an account, you agree to RKTIK's User Agreement and Privacy Policy.</p>
  <button type="submit" class="btn btn-default rk-singleclick" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i> Please wait'>Signup now</button>
</form>
</div>
</div>
{% endblock %}
