{% import "macros/helpers.html" as helper_macros %}

{% extends "base.html" %}

{% block extra_styles %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/spectrum.css") }}' />
{% endblock %}

{% block extra_scripts %}
<script src='{{ url_for("static", filename="js/spectrum.js") }}'></script>
{% endblock %}

{% block script %}
$(document).ready(function() {
  $("#rk-colorpicker").spectrum({
    showPaletteOnly: true,
    showPalette:true,
    flat: true,
    showInput: true,
    color: '#0B3954',
    palette: [
      {% for color in allowed_colors %}
      '#{{ color }}',
      {% endfor %}
    ]
  });

  $(".rk-signup-form").submit(function() {
    $("#rk-colorpicker").val($("#rk-colorpicker").spectrum("get").toHex());
    amplitude.logEvent("signup_form_send");
  });

  $('.input_helper').popover({
    container: 'body',
    trigger: 'focus',
    placement: function(context, source) {
      var pos = $(".rk-signup").position();
      if (pos.left > 200) {
        return "left";
      }
      return "bottom";
    }
  });
});

{% endblock %}

{% block content %}
<div class="row">
<div class="rk-signup col-md-4 col-md-push-4">

<div class="rk-signup-intro">
  {{ helper_macros.intro(global_login_form, hide_actions=True) }}
</div>

{% if mma %}
<h1>Sign up for the <em>{{mma.movement.username}}</em> movement</h1>
{% else %}
<h1>Create your own account</h1>
{% endif %}

<form method="POST" class="rk-signup-form" action="{{ form_url }}">
  {{ form.hidden_tag() }}
  <div class="form-group {% if form.username.errors %}has-error{% endif %}">
    {% if form.username.errors %}
      <label for="username">{% for error in form.username.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="username">What would you like to be called here?</label>
    {% endif %}
    <input type="text" class="form-control input_helper" id="username" name="username" placeholder="Enter username" value="{{form.username.data|default('', True) }}" data-content="You can change this later." \>
  </div>

  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
    {% if form.email.errors %}
      <label for="email">{% for error in form.email.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="email">Email address (we don't send too many emails)</label>
    {% endif %}
    <input type="email" class="form-control input_helper" id="email" name="email" placeholder="Enter email" value="{{form.email.data|default('', True) }}"  data-content="We mostly send emails when a real human being wants to interact with you. You can opt-out with one click from any email you receive."\>
  </div>

  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
    {% if form.password.errors %}
      <label for="password">{% for error in form.password.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="password">Password</label>
    {% endif %}
    <input type="password" class="form-control input_helper" id="password" name="password" placeholder="Password" value="{{form.password.data|default('', True) }}" data-content="Give me at least 8 characters."\>
  </div>

  <div class="form-group {% if form.color.errors %}has-error{% endif %}">
    {% if form.color.errors %}
      <label for="color">{% for error in form.color.errors %}{{ error }} {% endfor %}</label>
    {% else %}
      <label for="color">Which is the best color?</label>
    {% endif %}
    <p><input type='text' name="color" class="form-control" id="rk-colorpicker" value="{{form.color.data|default('', True) }}"/></p>
  </div>

  <p>We care about your privacy, and we never spam. By creating an account, you agree to RKTIK's <strong><a href="{{ url_for('web.help', page='user_agreement')}}" rel="nofollow">User Agreement</a></strong> and <strong><a href="{{ url_for('web.help', page='privacy') }}" rel="nofollow">Privacy Policy</a></strong>.</p>
  <button type="submit" class="btn btn-primary rk-singleclick" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i> Please wait'>Signup now</button>
  {% if mma %}
  <a class="btn btn-default" href="{{ url_for('web.login', next=request.url) }}">I have a login</a>
  {% endif %}
</form>
</div>
</div>
{% endblock %}
