{% extends "base.html" %}

{% block content %}
<h1><a href="{{ url_for('web.index') }}">Home</a> > Signup for a new account</h1>
<form method="POST" action="{{ url_for('.signup') }}">
    {{ form.hidden_tag() }}</p
    <p>{{ form.username.label }} {{ form.username(size=20) }} {{ form.username.errors }}</p>
    <p>{{ form.email.label }} {{ form.email(size=20) }} {{ form.email.errors }}</p>
    <p>{{ form.password.label }} {{ form.password(size=20) }} {{ form.password.errors }}</p>
    <input type="submit" value="Go">
</form>
{% endblock %}
