{% extends "base.html" %}

{% import "macros/chat.html" as chat_macros %}
{% import "macros/star.html" as star_macros %}
{% import "macros/identity.html" as id_macros %}

{% block script %}
window.room_id = "{{ star.id }}";
window.user_id = "{{ current_user.active_persona.id }}";
window.user_name = "{{  current_user.active_persona.username }}";

$(document).ready(function() {
    $('#rk-star-context-length').editable({
      autotext: 'always',
      type: 'text',
      name: 'context_length',
      pk: '{{ star.id }}',
      url: '{{ url_for('web.async_star', star_id=star.id) }}',
      title: 'How many do you want to show?',
      display: function(value, response) {
        if (value > 0) {
          $(this).html("Displaying " + value + " previous Stars for context.");
        } else {
          $(this).html("Author has chosen not to display context for this Star.");
        }
      },
      error: function(response, newValue) {
        if (response.status == 400) {
          return response.message;
        } else {
          return "There was an error processing your input.";
        }
      },
      success: function(response, newValue) {
        location.reload();
      },
      value: {{ star.context_length }},
      placement: 'bottom',
      disabled: {% if star.author == active_persona %}false{% else %}true{% endif %}
  });
});
{% endblock %}

{% block content %}
<section class="row">
  <div class="col-sm-7 col-sm-push-1 rk-star-{{ star.id }}">
    <div class="rk-star-listing row">
      <div class="col-sm-12">
        {% if context|length > 0 %}
        <blockquote style="padding-bottom: -20px">
        {% for s in context %}
        {{ star_macros.star_line(s, controlled_personas) }}
        {% endfor %}
        </blockquote>
        {% endif %}

        {{ star_macros.star_lead(star, controlled_personas, truncate=False) }}
      </div>
    </div> <!-- ./ star listing -->

    <div class="rk-star-reply row">
      <div class="col-sm-6">
        <form class="rk-create">
          {{ reply_form.csrf_token }}
          {{ reply_form.parent(value=star.id, class_="rk-create-parent") }}
          <div class="form-group">
            {{ reply_form.text(class_="form-control rk-create-text") }}
          </div>
          <button type="submit" class="rk-create-submit" class="btn btn-default btn-sm" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>'>Reply</button>
        </form>
      </div>
    </div> <!-- ./ top-level reply form -->

    <div class="rk-star-listing rk-comments rk-replies">
    {% for s in star.comments %}
      {{ star_macros.reply_line(s, controlled_personas) }}
    {% endfor %}
    </div> <!-- ./ comments -->
  </div> <!-- ./ content area -->

  <div class="col-sm-3 col-sm-push-1">
    <h3>Info</h3>
    <p>Original post by {{ id_macros.persona(star.author) }} {{star.created|localtime|naturaltime}}.</p>
    <p><a href="#" id="rk-star-context-length"></a></p>
    <p>Posted to.</p>
    <ul>
    {% for map in star.starmaps %}
      {% for identity in map.contexts %}
        {% set map_template = "web.{}".format(identity.kind) %}
        <li><a href="{{ url_for(map_template, id=identity.id) }}">{{ identity.username }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
    <h3>Availability</h3>
    {% if star.author in controlled_personas %}
      {% if star.state >= 0 %}
      <p>
        <a class="btn btn-default btn-sm" href="{{ url_for('.delete_star', id=star.id) }}">
          <i class="fa fa-eye-slash"></i> Remove
        </a>
      </p>
      {% elif star.state == -2 %}
      <p>This Star is currently hidden.</p>
      <p>
        <a class="btn btn-default btn-sm" href="{{ url_for('.delete_star', id=star.id) }}">
          <i class="fa fa-eye"></i> Publish again
        </a>
      </p>
      {% endif %}
    {% elif star.state >= 0 %}
    <p><i class="fa fa-eye"></i> This Star is available</p>
    {% else %}
    <p><i class="fa fa-exclamation-circle"></i> This Star is currently unavailable.</p>
    {% endif %}
  </div>
</section>

{% endblock %}
